In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df_credits = pd.read_csv("tmdb_5000_credits.csv")

In [3]:
df_credits.sample(5)

,movie_id,title,cast,crew
4676,83588,Middle of Nowhere,"[{""cast_id"": 1001, ""character"": ""Brian"", ""cred...","[{""credit_id"": ""52fe48ac9251416c910948eb"", ""de..."
1183,6073,The Mexican,"[{""cast_id"": 1, ""character"": ""Jerry Welbach"", ...","[{""credit_id"": ""52fe443bc3a36847f8089dfd"", ""de..."
2741,9644,National Lampoon's Loaded Weapon 1,"[{""cast_id"": 12, ""character"": ""Sgt. Jack Colt""...","[{""credit_id"": ""52fe4515c3a36847f80bb8c9"", ""de..."
4022,84329,Robot & Frank,"[{""cast_id"": 2, ""character"": ""Frank"", ""credit_...","[{""credit_id"": ""52fe48eb9251416c9109cb23"", ""de..."
4744,244534,Happy Christmas,"[{""cast_id"": 4, ""character"": ""Jenny"", ""credit_...","[{""credit_id"": ""52fe4ef3c3a36847f82b2ea9"", ""de..."

In [4]:
df_credits.shape

(4803, 4)

In [5]:
df_movies = pd.read_csv("tmdb_5000_movies.csv")

In [6]:
df_movies.sample(5)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
213,125000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 28, ""...",http://www.missionimpossible.com/,955,"[{""id"": 321, ""name"": ""terror""}, {""id"": 514, ""n...",en,Mission: Impossible II,With computer genius Luther Stickell at his si...,54.931334,"[{""name"": ""Paramount Pictures"", ""id"": 4}, {""na...","[{""iso_3166_1"": ""DE"", ""name"": ""Germany""}, {""is...",2000-05-24,546388105,123.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Expect the impossible again.,Mission: Impossible II,5.9,1928
856,55000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 53, ""nam...",NaN,34314,"[{""id"": 2080, ""name"": ""stewardess""}, {""id"": 38...",en,Turbulence,"On a flight transporting dangerous convicts, m...",4.700024,"[{""name"": ""Metro-Goldwyn-Mayer (MGM)"", ""id"": 8...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",1997-01-09,11466088,100.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"If you weren't afraid of flying before, you wi...",Turbulence,5.2,62
640,95000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",NaN,9342,"[{""id"": 387, ""name"": ""california""}, {""id"": 470...",en,The Mask of Zorro,It has been twenty years since Don Diego de la...,31.086791,"[{""name"": ""Amblin Entertainment"", ""id"": 56}, {...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",1998-07-16,250288523,136.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,No one has seen his face... but everyone ... k...,The Mask of Zorro,6.3,1183
4796,7000,"[{""id"": 878, ""name"": ""Science Fiction""}, {""id""...",http://www.primermovie.com,14337,"[{""id"": 1448, ""name"": ""distrust""}, {""id"": 2101...",en,Primer,Friends/fledgling entrepreneurs invent a devic...,23.307949,"[{""name"": ""Thinkfilm"", ""id"": 446}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2004-10-08,424760,77.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,What happens if it actually works?,Primer,6.9,658
2706,14000000,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 10749, ""n...",NaN,87729,"[{""id"": 254, ""name"": ""france""}, {""id"": 2020, ""...",en,Jefferson in Paris,"His wife having recently died, Thomas Jefferso...",0.900442,"[{""name"": ""Merchant Ivory Productions"", ""id"": ...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",1995-03-31,2474000,139.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,A powerful man torn between his love for one w...,Jefferson in Paris,5.2,10

In [7]:
df_movies.shape

(4803, 20)

In [8]:
df = pd.merge(df_movies,df_credits,on="title")

In [9]:
df.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,movie_id,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...",...,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,285,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...",...,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466,206647,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...",...,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106,49026,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]",...,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124,49529,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [10]:
df.isnull().sum()

budget                     0
genres                     0
homepage                3096
id                         0
keywords                   0
original_language          0
original_title             0
overview                   3
popularity                 0
production_companies       0
production_countries       0
release_date               1
revenue                    0
runtime                    2
spoken_languages           0
status                     0
tagline                  844
title                      0
vote_average               0
vote_count                 0
movie_id                   0
cast                       0
crew                       0
dtype: int64

In [11]:
df = df[['genres','keywords','original_language','overview','popularity','release_date','revenue','title','vote_average','vote_count','movie_id','cast','crew']]

In [12]:
df.isnull().sum()

genres               0
keywords             0
original_language    0
overview             3
popularity           0
release_date         1
revenue              0
title                0
vote_average         0
vote_count           0
movie_id             0
cast                 0
crew                 0
dtype: int64

In [13]:
#Drop the rows becoz the missing value was less then 5% 
df = df.dropna()

In [14]:
df.isnull().sum()

genres               0
keywords             0
original_language    0
overview             0
popularity           0
release_date         0
revenue              0
title                0
vote_average         0
vote_count           0
movie_id             0
cast                 0
crew                 0
dtype: int64

### Extract names key value from the Dictionary and append in a list

In [15]:
df.iloc[0].genres

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

In [16]:
df.iloc[0].keywords

'[{"id": 1463, "name": "culture clash"}, {"id": 2964, "name": "future"}, {"id": 3386, "name": "space war"}, {"id": 3388, "name": "space colony"}, {"id": 3679, "name": "society"}, {"id": 3801, "name": "space travel"}, {"id": 9685, "name": "futuristic"}, {"id": 9840, "name": "romance"}, {"id": 9882, "name": "space"}, {"id": 9951, "name": "alien"}, {"id": 10148, "name": "tribe"}, {"id": 10158, "name": "alien planet"}, {"id": 10987, "name": "cgi"}, {"id": 11399, "name": "marine"}, {"id": 13065, "name": "soldier"}, {"id": 14643, "name": "battle"}, {"id": 14720, "name": "love affair"}, {"id": 165431, "name": "anti war"}, {"id": 193554, "name": "power relations"}, {"id": 206690, "name": "mind and soul"}, {"id": 209714, "name": "3d"}]'

In [17]:
import json
def convert(list):
    L = []
    for i in json.loads(list):
        L.append(i['name'])
    return L

In [18]:
df['genres'] = df['genres'].apply(convert)

In [19]:
df['keywords'] = df['keywords'].apply(convert)

In [20]:
import json
def convert_cast(list):
    L = []
    for i in json.loads(list):
        L.append(i['name'])
    return L[:3]

In [21]:
df['cast'] = df['cast'].apply(convert_cast)

In [22]:
def convert_crew(list):
    L = []
    for i in json.loads(list):
        if i['job'] == "Director":
            L.append(i['name'])
            break
    return L

In [23]:
df['crew'] = df['crew'].apply(convert_crew)

In [24]:
df['overview'] = df['overview'].apply(lambda x:x.split())

### Remove white spaces from the string

In [25]:
def Remove_whitespace(list):
    L = []
    for i in list:
        L.append(i.replace(" ",""))
    return L

In [26]:
df['cast'] = df['cast'].apply(Remove_whitespace)
df['crew'] = df['crew'].apply(Remove_whitespace)
df['genres'] = df['genres'].apply(Remove_whitespace)
df['keywords'] = df['keywords'].apply(Remove_whitespace)

### Extracting year from the date

In [27]:
df['release_date'] = pd.to_datetime(df['release_date'])

In [28]:
df['release_date_year'] = df['release_date'].dt.year

In [29]:
df['original_language'] = df['original_language'].apply(lambda x:[x])

In [30]:
df['release_date_year'] = df['release_date_year'].apply(lambda x:[str(x)])

In [31]:
df['popularity'] = df['popularity'].apply(lambda x:[str(x)])

In [32]:
df['revenue'] = df['revenue'].apply(lambda x:[str(x)])

In [33]:
df['vote_average'] = df['vote_average'].apply(lambda x:[str(x)])

In [34]:
df['vote_count'] = df['vote_count'].apply(lambda x:[str(x)])

In [35]:
df['tag'] = df['overview'] + df['genres'] + df['keywords'] + df['cast'] + df['crew'] + df['original_language'] + df['release_date_year'] + df['popularity'] + df['revenue'] + df['vote_average'] + df['vote_count']

In [36]:
df.head()

,genres,keywords,original_language,overview,popularity,release_date,revenue,title,vote_average,vote_count,movie_id,cast,crew,release_date_year,tag
0,"[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...",[en],"[In, the, 22nd, century,, a, paraplegic, Marin...",[150.437577],2009-12-10,[2787965087],Avatar,[7.2],[11800],19995,"[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron],[2009],"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,"[Adventure, Fantasy, Action]","[ocean, drugabuse, exoticisland, eastindiatrad...",[en],"[Captain, Barbossa,, long, believed, to, be, d...",[139.082615],2007-05-19,[961000000],Pirates of the Caribbean: At World's End,[6.9],[4500],285,"[JohnnyDepp, OrlandoBloom, KeiraKnightley]",[GoreVerbinski],[2007],"[Captain, Barbossa,, long, believed, to, be, d..."
2,"[Action, Adventure, Crime]","[spy, basedonnovel, secretagent, sequel, mi6, ...",[en],"[A, cryptic, message, from, Bond’s, past, send...",[107.376788],2015-10-26,[880674609],Spectre,[6.3],[4466],206647,"[DanielCraig, ChristophWaltz, LéaSeydoux]",[SamMendes],[2015],"[A, cryptic, message, from, Bond’s, past, send..."
3,"[Action, Crime, Drama, Thriller]","[dccomics, crimefighter, terrorist, secretiden...",[en],"[Following, the, death, of, District, Attorney...",[112.31295],2012-07-16,[1084939099],The Dark Knight Rises,[7.6],[9106],49026,"[ChristianBale, MichaelCaine, GaryOldman]",[ChristopherNolan],[2012],"[Following, the, death, of, District, Attorney..."
4,"[Action, Adventure, ScienceFiction]","[basedonnovel, mars, medallion, spacetravel, p...",[en],"[John, Carter, is, a, war-weary,, former, mili...",[43.926995],2012-03-07,[284139100],John Carter,[6.1],[2124],49529,"[TaylorKitsch, LynnCollins, SamanthaMorton]",[AndrewStanton],[2012],"[John, Carter, is, a, war-weary,, former, mili..."

In [37]:
df = df[['movie_id','title','tag']]

In [38]:
def convert_list_to_string(list):
    res = " ".join(list)
    return res.lower()

In [39]:
df['tag'] = df['tag'].apply(convert_list_to_string)

In [40]:
df.head()

,movie_id,title,tag
0,19995,Avatar,"in the 22nd century, a paraplegic marine is di..."
1,285,Pirates of the Caribbean: At World's End,"captain barbossa, long believed to be dead, ha..."
2,206647,Spectre,a cryptic message from bond’s past sends him o...
3,49026,The Dark Knight Rises,following the death of district attorney harve...
4,49529,John Carter,"john carter is a war-weary, former military ca..."

In [41]:
df['tag'][1]

"captain barbossa, long believed to be dead, has come back to life and is headed to the edge of the earth with will turner and elizabeth swann. but nothing is quite as it seems. adventure fantasy action ocean drugabuse exoticisland eastindiatradingcompany loveofone'slife traitor shipwreck strongwoman ship alliance calypso afterlife fighter pirate swashbuckler aftercreditsstinger johnnydepp orlandobloom keiraknightley goreverbinski en 2007 139.082615 961000000 6.9 4500"

In [42]:
from nltk.stem.porter import PorterStemmer
pr = PorterStemmer()

In [43]:
def stem(text):
    y = []
    for i in text.split():
        y.append(pr.stem(i))
    return " ".join(y)

In [44]:
df['tag'] = df['tag'].apply(stem)

In [45]:
df['tag'][1]

"captain barbossa, long believ to be dead, ha come back to life and is head to the edg of the earth with will turner and elizabeth swann. but noth is quit as it seems. adventur fantasi action ocean drugabus exoticisland eastindiatradingcompani loveofone'slif traitor shipwreck strongwoman ship allianc calypso afterlif fighter pirat swashbuckl aftercreditssting johnnydepp orlandobloom keiraknightley goreverbinski en 2007 139.082615 961000000 6.9 4500"

In [61]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000,stop_words='english')

In [62]:
vector = cv.fit_transform(df['tag']).toarray()

In [63]:
vector

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [64]:
cv.get_feature_names_out()

array(['000', '007', '10', ..., 'zone', 'zoo', 'zooeydeschanel'],
      dtype=object)

In [65]:
from sklearn.metrics.pairwise import cosine_similarity

In [66]:
similarity = cosine_similarity(vector)

C:\Users\INDRADEV.DESKTOP-G900EBG\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\utils\extmath.py:193: RuntimeWarning: invalid value encountered in matmul
  ret = a @ b

In [67]:
similarity[0]

array([1.        , 0.10411584, 0.10559274, ..., 0.06435635, 0.0218687 ,
       0.02278028])

In [68]:
def recommend(movie):
    movie_index = df[df['title'] == movie].index[0]
    distances = similarity[movie_index]
    movie_list = sorted(list(enumerate(distances)),reverse=True,key=lambda x:x[1])[1:6]
    
    for i in movie_list:
        print(df.iloc[i[0]].title)

In [69]:
recommend("Batman Begins")

The Dark Knight
Batman
Batman
The Dark Knight Rises
10th & Wolf